In [1]:
import pandas as pd
from bs4 import BeautifulSoup
from splinter import Browser
import re
import time

In [2]:
executable_path = {"executable_path": "chromedriver.exe"}
browser = Browser("chrome", **executable_path)

In [3]:
url = "https://mars.nasa.gov/news/"
browser.visit(url)

In [4]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')
time.sleep(3)
slider = soup.find("ul.item_list li.slide")

In [8]:
slider_title = soup.find_all("div", class_="content_title")[1].text
slider_p = soup.find("div", class_="article_teaser_body").text

In [9]:
print(f'{slider_title}: {slider_p}')

NASA's Perseverance Mars Rover Gets Its Wheels and Air Brakes: After the rover was shipped from JPL to Kennedy Space Center, the team is getting closer to finalizing the spacecraft for launch later this summer.

In [5]:
executable_path = {"executable_path": "chromedriver.exe"}
browser = Browser("chrome", **executable_path)
url ='https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(url)
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [6]:
soup_image = browser.click_link_by_partial_text('FULL IMAGE')
soup_info = browser.click_link_by_partial_text('more info')

C:\Users\ronjd\Anaconda3\lib\site-packages\splinter\driver\webdriver\__init__.py:528: FutureWarning: browser.find_link_by_partial_text is deprecated. Use browser.links.find_by_partial_text instead.
  FutureWarning,

In [12]:
html = browser.html
soup = BeautifulSoup(html, "html.parser")

In [13]:
#get image https://stackoverflow.com/questions/38028384/beautifulsoup-is-there-a-difference-between-find-and-select-python-3-x
img_url = soup.select_one("figure.lede a img").get("src")
img_url

'/spaceimages/images/largesize/PIA17564_hires.jpg'

In [14]:
full_url_img = f'https://www.jpl.nasa.gov{img_url}'
full_url_img

'https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA17564_hires.jpg'

In [15]:
weather_html = browser.html

soup = BeautifulSoup(weather_html, 'lxml')

In [16]:
twitter_url ='https://twitter.com/marswxreport?lang=en'

browser.visit(twitter_url)
time.sleep(3)
twitter_html=browser.html
soup=BeautifulSoup(twitter_html, 'html.parser')

In [18]:
all_tweets=soup.find_all("div", attrs={'data-testid': 'tweet'})[0]
#class_=re.compile('css-') -> match with anything that starts with 'css-'
for each_tweet in all_tweets:
    print(each_tweet.get_text())

Mars Weather@MarsWxReport·Apr 4InSight sol 481 (2020-04-03) low -93.9ºC (-137.0ºF) high -5.9ºC (21.4ºF)
winds from the WNW at 5.3 m/s (11.8 mph) gusting to 18.3 m/s (40.9 mph)
pressure at 6.50 hPa11026

In [14]:
facts = 'https://space-facts.com/mars/'
table = pd.read_html(facts)[0]
table

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [15]:
table.columns=["Description", "Value"]
table.set_index("Description", inplace=True)
table

                                              Value
Description
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                   -87 to -5 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [16]:
table.to_html(classes="table table-striped")

'<table border="1" class="dataframe table table-striped">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Value</th>\n    </tr>\n    <tr>\n      <th>Description</th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Equatorial Diameter:</th>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>Polar Diameter:</th>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>Orbit Distance:</th>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>Orbit Period:</th>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>Surface Temperature:</th>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>First Record:</th>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>Recorded By:</th>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [22]:
executable_path = {"executable_path": "chromedriver.exe"}
browser = Browser("chrome", **executable_path)
url = "https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars"
browser.visit(url)

In [35]:
hemi_image =[]

links = browser.find_by_css("a.product-item h3")

for link in range(len(links)):
    hemi={}
    
    browser.find_by_css("a.product-item h3")[link].click()
    
    image_url = browser.links.find_by_text("Sample").first
    hemi["url"] = image_url["href"]
    
    hemi["title"] = browser.find_by_css("h2.title").text
    
    hemi_image.append(hemi)
    
    browser.back()

In [36]:
hemi_image

[{'url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg',
  'title': 'Cerberus Hemisphere Enhanced'},
 {'url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg',
  'title': 'Schiaparelli Hemisphere Enhanced'},
 {'url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg',
  'title': 'Syrtis Major Hemisphere Enhanced'},
 {'url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg',
  'title': 'Valles Marineris Hemisphere Enhanced'}]